<ul id="network <%= network.id %>">

    <h4>
          <%= link_to network.name, network %> <br>
          public key : </h4><br>

        <div id ="code" align-center>

           <pre> <h8> <p>
          <code > <%= network.publickey %></h8>
          </code> </pre> </p>
        </div>


  <br> <hr>

    <h3>
      <%= link_to network.name, network %> | total devices : <%=  link_to "total devices : " +
            network.devices.count.to_s, network_path(network, anchor: "devices")  %>

      <%= button_to "Add New Device", {:controller => :devices, :action => :new, :network_id => network.id},
                                       :method => 'get' %>
      <%= link_to "delete", network, method: :delete,
                  data: { confirm: "You sure?" } %>
    </h3>

    <h4>

      <!--<div id="devices">-->

      <h3>  Registered Devices </h3>



      <%= render network.devices %>


      <!--</div>-->

    </h4>
    </ul>