<h3 id="network <%= network.id %>">

  <% if logged_in? %>
        <h1>
      <%= link_to network.name, network %> <br>
        </h1>
      <%# if !@network.device_id.nil? %>

          <%# render map %>

      <%# end %>

      <% if network.devices.any? %>

          <li class="dropdown-header"> <h4> NO DEVICES FOUND, ADD A DEVICE?

          <%= button_to "Add New Device", {:controller => :devices, :action => :new, :network_id => network.id},
                        :method => 'get' %>

          </h4> </li>
      <% end %>



      <%= button_to "Edit Network?", edit_network_path(network.id), :method => :get %>

  <%= render @feed %>
      <% end %>

  <h2>


    ssh key : </h2><br>


  <div style="width:545px;overflow:auto;margin:auto">
    <pre>  <%= network.ssh_key %> </pre>
  </div>

  <br> <hr>






  <h2>


          public key : </h2><br>


          <div style="width:545px;overflow:auto;margin:auto">
           <pre>  <%= network.publickey %> </pre>
            </div>

  <br> <hr>

      <%= link_to network.name, network %> | total devices : <%=  link_to "total devices : " +
            network.devices.count.to_s, network_path(network, anchor: "devices")  %>

      <%= button_to "Add New Device", {:controller => :devices, :action => :new, :network_id => network.id},
                                       :method => 'get' %>
      <%= link_to "delete", network, method: :delete,
                  data: { confirm: "You sure?" } %>

    <h4>

      <!--<div id="devices">-->

      <h3>  Registered Devices </h3>

      <%= render network.devices %>


      <!--</div>-->

    </h4>
</h3>