<% provide(:title, 'All Networks') %>
<h1>All Networks</h1>

<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<%#= will_paginate %>

<%= render @networks %>

<!--<ul class="networks">-->
  <!--<%# @networks.each do |network| %>-->
      <!--<%#= render @networks %>-->
  <!--<%# end %>-->
<!--</ul>-->

<%#= will_paginate %>

<%= link_to "Add New Network", addnetwork_path, class: "btn btn-lg btn-primary" %>