
<link rel="stylesheet" href="http://wiki.batphone.co/load.php?debug=false&amp;
lang=en&amp;modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.
sectionAnchor%7Cmediawiki.ui.button%7Cskins.bootstrapmediawiki&amp;only=styles&amp;skin=bootstrapmediawiki&amp;*" />

<div id = "devices" >

  <br> <hr>

  <h3> Device :  <%= link_to device.name, device %>   |   Network :
    <%= device.network.id %> <%= link_to device.network.name, device.network %> <small></small></h3>

</div>
<span >
<span class="timestamp">
    Posted <%= time_ago_in_words(device.created_at) %> ago.
  </span>

<div>
  <div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><table class="wikitable">
    <tr>
      <th style="font-weight: bold;"> IP Address
      </th>
      <th style="font-weight: bold;"> MAC
      </th>
      <th style="font-weight: bold;"> AP SSID
      </th>
      <th style="font-weight: bold;"> Gateway Mode
      </th>
      <th style="font-weight: bold;"> Description
      </th>
      <th style="font-weight: bold;"> Location
      </th>
      <th style="font-weight: bold;"> Notes
      </th></tr>
    <tr>
      <td> <%= device.IP_address %>
      </td>
      <td> <%= device.MAC %>
      </td>
      <td> <%= device.AP_SSID %>
      </td>
      <td> <%= device.Gateway_mode %>
      </td>
      <td> <%= device.description %>
      </td>
      <td> <%= device.location %>
      </td>
      <td>
      </td></tr> </table></div></div>
<br>
  </span>

