<% provide(:title, 'Register Device') %>
<h1>Register Device </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@device) do |f| %>

        <%= hidden_field_tag(:network_id,  :network_id, :value => @device.network_id) %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :IP_Address %>
        <%= f.text_field :IP_address %>

        <%= f.label :MAC %>
        <%= f.text_field :MAC %>

        <%= f.label :AP_SSID %>
        <%= f.text_field :AP_SSID %>

        <%= f.label :Gateway_mode %>
        <%= f.text_field :Gateway_mode %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :location %>
        <%= f.text_area :location %>

        <%= f.label :notes %>
        <%= f.text_area :notes %>



        <%= f.submit "Add Device", class: "btn btn-primary" %>
    <% end %>
</div>
</div>




