<%#= f.hidden_field(:user_id, :value => current_user.id) %>

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>


<audio controls>

  <source src="tcp://104.131.44.2:18882" type="audio/mpeg" />

  <source src="tcp://104.131.44.2:18882" type="audio/ogg" />

  <em>Sorry, your browser doesn't support HTML5 audio.</em>

</audio>


<audio controls
       data-info-album-art="http://farm5.staticflickr.com/4050/4353986539_ec89b52698_d.jpg"
       data-info-album-title="8874"
       data-info-artist="Billy Murray"
       data-info-title="Come, take a trip in my air-ship"
       data-info-label="Edison Gold Moulded Record"
       data-info-year="1905"
       data-info-att="University of California, Santa Barbara Library."
       data-info-att-link="http://cylinders.library.ucsb.edu/search.php?query=8874">

  <source src="tcp://104.131.44.2:18882" type="audio/mpeg" />

  <source src="tcp://104.131.44.2:18882" type="audio/ogg" />

  <a href="/bootstrap-player/media/cusb-cyl2985d.mp3">cusb_cyl2985d</a>
</audio>


<%= render stream.user_id %>

<%= puts stream.port %>


<%= render stream.device %>


<%= render stream.network %>

<%= yield %>

