<%= form_for(@comment, html: { multipart: true }) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <br>
    <div class="field">
      <%= f.text_area :text, placeholder: "enter comments text...", size: 20 %>
      <%#= f.text_area :text, size: "1x1" %>

    </div>



    <%= f.hidden_field :user_id, :value => current_user.id %>

    <%#= f.hidden_field :user_id, :value => @Comment.user_id %>

    <%= f.hidden_field(:micropost_id, :value => @comment.micropost_id ) %>

    <%= f.submit "Comment", class: "btn btn-primary" %>






    <span class="picture">

      <%#= f.file_field :picture %>

  </span>

<% end %>