<%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <h3>Compose New Meshage</h3>


    <h4>Subject</h4>
    <div class="field">
      <%= f.text_field :subject, placeholder: "Enter Subject" %>
    </div>
    <p></p>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new Meshage..." %>
    </div>

    <div class="field">

      <center>Private? </center>
      <%=  check_box_tag 'private', 'private' %>


    </div>

    <div class="field"></div>
    <h4>Select Network</h4>
    <%= f.select :network, [['Public','Public'],['BatCave','BatCave'],['Wayne Enterprises','Wayne Enterprises']] %>





    <div class="field"></div>
    <h4>Device</h4>
    <%= f.select :device, [['Server','Server'],['MasterPi','MasterPi'],['Microphone Pi','Microphone Pi'],
                           ['RouterNode','RouterNode'],
                           ['RouterNode2','RouterNode2'],
                           ['RouterNode3','RouterNode3'],
                           ['RouterNode4','RouterNode4'],
                           ['RouterNode5','RouterNode5'],
                           ['Microphone Pi2','Microphone Pi2']] %>

    <div class="field">


    </div>


    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="picture">
    <%= f.file_field :picture %>
  </span>


<% end %>