<h3>Compose New Meshage</h3>

<div class="jumbotron" style="color:black; padding-top: 5px; padding-left:5px; padding-right:5px" >
  <div class="container">



<%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>


        <h4>
       SUBJECT:
        </h4>

      <%= f.text_field :subject, placeholder: "Enter Subject" %>
      <br> <H4>
        MESHAGE TEXT:
      </H4>
      <%= f.text_area :content, placeholder: "Compose new Meshage..." %>
      <br>

      <li class="checkbox-inline">
      <%= f.check_box :private%>   Private?     </li>
      <%#= check_box :private, "false" %>


      <%#= url_field_tag 'url', 'http://rubyonrails.org' %>




    <li class="dropdown-header"> <H4> SELECT NETWORK </H4> </li>
    <%= f.collection_select(:network_id, @networks, :id, :name) %>


    <!--volume control-->
    <%#= number_field_tag 'volume', nil, max: 11 %>


    <%#= form_tag('/posts') do -%>

    <%# end -%>




    <%#= collection_select @network, :name, @network_array || [], :last, :first %>



    <%#= f.collection_select :network, @network_array[0], :chomp, :chomp, {include_blank: true} %>




    <%#= f.select :network_id,  %>



    <%#= f.select :network, [['Public','Public'],['BatCave','BatCave'],['Wayne Enterprises','Wayne Enterprises']] %>





    <li class="dropdown-header"> <H4> SELECT DEVICE </H4> </li>
    <!--<div class="field"></div>-->
    <!--<h4>Device</h4>-->


    <!--<div class="btn-group">-->
      <!--<button type="button" class="btn btn-danger dropdown-toggle"-->
              <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--<span class="caret"></span>-->


    <!--<div class="btn">-->
      <!--<button type="button" class="btn btn-danger">Action</button>-->
      <!--<button type="button" class="btn btn-default btn-small" data-toggle="dropdown" >-->
        <!--<span class="caret"></span>-->
        <!--<span class="sr-only">Toggle Dropdown</span>-->



    <%= f.collection_select(:device_id, @devices, :id, :name) %>

        <!--</div>-->


    <%#= f.select :device_id, [['Server',0],['MasterPi', 1],['Microphone Pi',2],
                           ['RouterNode',3],
                           ['RouterNode2',4],
                           ['RouterNode3',5],
                           ['RouterNode4',6],
                           ['RouterNode5',7],
                           ['Microphone Pi2',8]] %>



    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="picture">
    <%= f.file_field :picture %>
  </span>


<% end %>

</div> </div>