<%= form_for(@micropost, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <h3>Compose New Meshage</h3>


    <h4>Subject</h4>
    <div class="field">
      <%= f.text_field :subject, placeholder: "Enter Subject" %>
    </div>
    <p></p>
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new Meshage..." %>
    </div>

    <div class="field">

      Private?
      <%=  check_box :private, "false" %>






    </div>


    <div>

      <%= check_box_tag(:pet_dog) %>
      <%= label_tag(:pet_dog, "I own a dog") %>
      <%= check_box_tag(:pet_cat) %>
      <%= label_tag(:pet_cat, "I own a cat") %>


    </div>

    <div class="field"></div>
    <h4>Select Network</h4>

    # select on a form builder
    <%#= f.select(:network, :id, [['Public', 0],['BatCave', 1],['Wayne Enterprises',2]], 1)  %>


    <%#= f.select :network_id do %>
      <%#= @network_array.each do |network| %>
        <%#= content_tag(:option, network.first) %>

        <%#    end %>
    <%#  end %>


    <%= f.collection_select(:network_id, @networks, :id, :name) %>


    volume control
    <%= number_field_tag 'volume', nil, max: 11 %>


    <%#= form_tag('/posts') do -%>
        <div><%#= submit_tag 'Save' %></div>
    <%# end -%>




    <%#= collection_select @network, :name, @network_array || [], :last, :first %>



    <%#= f.collection_select :network, @network_array[0], :chomp, :chomp, {include_blank: true} %>




    <%#= f.select :network_id,  %>



    <%#= f.select :network, [['Public','Public'],['BatCave','BatCave'],['Wayne Enterprises','Wayne Enterprises']] %>





    <div class="field"></div>
    <h4>Device</h4>


    <%= f.collection_select(:device_id, @devices, :id, :name) %>


    <%#= f.select :device_id, [['Server',0],['MasterPi', 1],['Microphone Pi',2],
                           ['RouterNode',3],
                           ['RouterNode2',4],
                           ['RouterNode3',5],
                           ['RouterNode4',6],
                           ['RouterNode5',7],
                           ['Microphone Pi2',8]] %>

    <div class="field">


    </div>


    <%= f.submit "Post", class: "btn btn-primary" %>
    <span class="picture">
    <%= f.file_field :picture %>
  </span>


<% end %>